.idea
.vscode
/node_modules/
/package-lock.json
/dist/
/docs/
/manual/.vitepress/dist/
/manual/.vitepress/cache/
/manual/ko/api/
/manual/en/api/
/manual/assets/
/manual/**/*.html
/manual/hashmap.json
/manual/vp-icons.css
/src/**/*.js
/sitemap/