html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.titleBox {
    z-index: 1;
    position: absolute;
    top: 16px;
    left: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    padding: 16px;
}

.titleBox > .title {
    white-space: nowrap;
    font-size: 20px;
    margin: 0;
}

.titleBox > .subTitle {
    font-size: 12px;
    white-space: nowrap;
    margin: 6px 0 0;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #70020c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #70020c;
}