@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('loadExampleInfo/sourceView.css');

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(../../assets/documentBody.png);
}

.tp-dfwv {
    top: 52px !important;
    bottom: 62px;
    z-index: 1;
    overflow-y: auto;
    /*max-height: calc(100vw - 20px);*/
    pointer-events: none;
    transition: right 0.36s;
}

.tp-dfwv * {
    pointer-events: auto;
}

* {

    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;

    box-sizing: border-box;
    position: relative;

}

.footer {
    border-top: 1px solid #333333;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #111112;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    font-size: 12px;
    color: rgb(177, 152, 152);

    a {
        color: rgb(242, 169, 113);
        font-size: 12px;
    }
}

.footer_left {
    line-height: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    img {
        line-height: 1;
    }
}

.experimental {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    color: #fff;
    padding: 4px 8px;
    line-height: 1;
    width: fit-content;
    background: #c74606;
    border-radius: 4px;

}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #70020c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #70020c;
}

.title_box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 1;
    display: flex;
    flex-direction: column;
    background: rgb(32, 32, 32);
    word-break: keep-all;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.01);

}

.navigation-bar {
    display: flex;
    width: 100%;
    /*justify-content: space-between;*/
    gap: 1px;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    min-height: 42px;
    background-color: #111112;
    color: white;
    text-decoration: none;
    font-size: 12px;
    transition: background-color 0.2s;
}

.nav-button:hover {
    background-color: #1f1f1f;
}

.nav-button span {
    margin-left: 4px;
}

.nav-button.category-button {
    background: transparent;
}

@media screen and (max-width: 768px) {
    .navigation-bar {
        /*gap: 8px;*/
    }

    .nav-button {
        padding: 0 12px;
    }
}

.example-setting-button {
    cursor: pointer;
    aspect-ratio: 1;
    padding: 0;
    line-height: 1;
    font-size: 11px;

    img {
        line-height: 1;
        transition: opacity 0.2s;
    }
}

.antialiasing-button {
    border: 0;
    cursor: pointer;
    padding: 0 28px 0 16px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 11px;
    /* 기본 화살표 */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    max-width: 90px;
    width: fit-content;
}

.tone-mapping-container {
    display: flex;
    align-items: center;
    padding-left: 12px;
    background-color: #111112;
    transition: background-color 0.2s;
}

.tone-mapping-container:hover {
    background-color: #1f1f1f;
}

.tone-mapping-button {
    border: 0;
    cursor: pointer;
    padding: 0 28px 0 12px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 11px;
    /* 기본 화살표 */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: fit-content;
}

.item-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
    font-size: 1.0em;
    /*color: rgb(227 216 210);*/
    /*color: rgb(221, 132, 80);*/
    color: #fff;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

@media screen and (max-width: 480px) {
    .item-title {
        top: 56px;
        left: 12px;
        right: 0;
        transform: none;
        justify-content: flex-start;
        text-align: left;

    }

    .tone-mapping-container {
        position: fixed;
        left: 0;
        bottom: 50px;
    }

}


.item-description {
    position: absolute;
    top: 66px;
    left: 0;
    transform: translate(0%, 0%);
    line-height: 1.4;
    font-size: 0.9em;
    color: #a4a7cc;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 500;
    padding: 0 16px;
    max-width: calc(100% - 260px);
    pointer-events: none;
}

@media screen and (max-width: 480px) {
    .item-description {
        top: 76px;
        left: 0;
        right: 0;
        padding: 0 12px;
        transform: none;
        font-size: 0.8em;
        justify-content: flex-start;
        text-align: left;
        max-width: 100%;

    }
}


.loading-ui {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 12px;
    font-family: monospace;
    z-index: 1000;
    pointer-events: none;
    border: 1px solid #444;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    gap:10px
}

.loading-ui-title {
    font-weight: bold;
    color: #aaa
}

.loading-ui-progress {
    width: 200px;
    height: 4px;
    background: #333;

    > div {
        height: 100%;
        background: #0078d4;
        transition: width 0.1s
    }
}

.loading-ui-info {
    display: flex;
    justify-content: space-between
}