@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #111;
    color: #fff;
    line-height: 1.5;
    overflow: hidden;
}

* {
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
    line-height: 1;
}

.example_container {
    position: fixed;
    top: 160px;
    left: 0;
    right: 0;
    bottom: 52px;
    overflow-y: auto;
    overflow-x: hidden;

}

.top_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 160px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.0) 100%);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    min-height: 52px;
    background: rgba(0, 0, 0, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    font-size: 14px;
    color: rgb(177, 152, 152);
}

/* 레이아웃 컴포넌트 */
.horizontal-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* 그룹 및 컨테이너 */
.groups-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.group-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 20px;
}

.group-items-container {
    margin-top: 20px;
    margin-left: 10px;
}

.regular-items-container {
    margin-top: 15px;
    margin-left: 20px;
}

.subgroup-container {
    margin-bottom: 15px;
    padding-left: 15px;
    border-left: 2px solid rgba(255, 255, 255, 0.1);
}

.list-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

/* 제목 및 텍스트 스타일 */
.group-title {
    color: #fff;
    margin: 0 0 15px 0;
    font-size: 1.25em;
    font-weight: 500;
}

.subgroup-title {
    color: #ddd;
    margin: 10px 0 5px 0;
    font-size: 1.1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding-bottom: 5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
}

.experimental {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    color: #fff;
    padding: 4px 8px;
    line-height: 1;
    width: fit-content;
    background: #c74606;
    border-radius: 4px;

}

.project_title {
    position: sticky;
    top: 0;
    z-index: 1;
    min-height: 52px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 700;
}

.project_right {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
    z-index: 1;
    font-size: 12px;
    font-weight: bold;

    a {
        min-width: initial;
        display: flex;
        aspect-ratio: 1;
        padding: 3px;
        width: 36px;
        align-items: center;
        justify-content: center;
        line-height: 1;
        border-radius: 50%;
        background: #18181b;
        cursor: pointer;
    }

    div {
        line-height: 1;

        img {
            line-height: 1;
        }
    }
}

.project_title span {
    font-size: 0.70rem;
    font-weight: 400;
    line-height: 1rem;
    color: #fff;
    opacity: 0.6;
}

.ko-text, .en-text, .descriptionUl {
    font-size: 11px;
    line-height: 1;
}

.ko-text {
    font-weight: bold;
}

.en-text {
    font-style: italic;
}

.descriptionUl {
    width: fit-content;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    border-radius: 12px;
    overflow: hidden;
    pointer-events: painted;
    padding-left: 0;
}

/* 아이템 및 링크 */
.example-item {
    width: 200px;
    max-width: 200px;
    line-height: 1;
    border-radius: 12px;
    overflow: hidden;
    height: fit-content;
    /*border: 1px solid #333333;*/

}
.regular-items-container .example-item {
    border: 1px solid #333333;
}

/* 모바일 화면 분기 처리 */
@media screen and (max-width: 768px) {
    .example-item {
        width: 45%;
        max-width: 45%;
        margin-bottom: 10px;
    }
}

/* 작은 모바일 화면 분기 처리 */
@media screen and (max-width: 480px) {
    .example-item {
        width: 80%;
        max-width: 80%;
        margin-bottom: 15px;
    }
}

.example-name {
    font-size: 0.9em;
    font-weight: 400;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 5px 12px 8px;
    /*background: #000 linear-gradient(to right, rgba(155, 155, 155, 0.1) 0%, rgba(0, 0, 0, 0.0) 100%);*/
    background: #1f1f1f;
    line-height: 1.4;
    word-break: keep-all;
    box-shadow: 0 -30px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    color:#8c8c8c;

}

.example-link {
    text-decoration: none;
    color: rgb(221, 132, 80);
    transition: color 0.2s;
}

.example-link:hover {
    color: rgb(221, 132, 80);
}

/* 링크 일반 스타일 */
a {
    text-decoration: none;
    color: rgb(221, 132, 80);
    font-size: 13px;
    transition: color 0.21s, filter 0.2s;
    overflow: hidden;
    word-break: break-all;
    min-width: calc(100% - 70px);
    text-overflow: ellipsis;
    pointer-events: painted;
}

a img {
    border-radius: 12px 12px 0 0;

    border-bottom: none;
}

a:hover {
    color: #fff;
}

a img {
    /*opacity: 0.75;*/
    /*transition: opacity 0.5s;*/
    /*filter:grayscale(0.3);*/
    transition: filter 0.26s ease-in-out;
}

a:hover img {
    /*filter:grayscale(0);*/
}

/*a div {*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*    width: 100%;*/
/*    white-space: nowrap;*/
/*}*/

.footer a {
    color: rgb(242, 169, 113);
    font-size: 14px;
}

.footer_left {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 1;
}

.footer_left a {
    min-width: 0;
}

/* 탭 및 검색 */
.tabs-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.tab-button {
    margin-right: 8px;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    background: #323232;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #333;
}

.tabs-container .active {
    border-color: #fff;
    background: #fff;
    color: #000;
}

.search-container input {
    width: 100%;
    padding: 7px 16px;
    border-radius: 12px;
    border: 1px solid #ededed;
    background: rgba(255, 255, 255, 0.9);
    font-size: 12px;
    outline: 0;
}

/* 리스트 스타일 */
.list-container > ul {
    padding: 0;
    margin: 6px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
    list-style-type: none;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
}

.list-container > ul:first-child {
    border-top: none;
}

ul > li {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}

ul ul, li > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 6px;
}

ul ul > li {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 15px;
}

ul ul ul > li {
    font-size: 0.9rem;
}

/* 스크롤바 스타일 */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:hover {
    background: #70020c;
}

/* 반응형 */
@media (max-width: 768px) {
    ul > li {
        font-size: 1.2rem;
    }

    ul ul > li {
        font-size: 0.9rem;
    }

    ul ul ul > li {
        font-size: 0.8rem;
    }
}
