<!DOCTYPE html>
<html lang="en">
<head>
    <title>Single View3D</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This example is a sample for a View object in RedGPU. It provides real-time testing of the basic options provided to a View object.">
    <meta name="keywords" content="RedGPU, WebGPU, Graphics, 3D, 2D, JavaScript, TypeScript, Computer Graphics, view, singleView, Single View3D">
    <link rel="canonical" href="https://redcamel.github.io/RedGPU/examples/3d/view/singleView/">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://redcamel.github.io/RedGPU/examples/3d/view/singleView/">
    <meta property="og:title" content="Single View3D">
    <meta property="og:description" content="This example is a sample for a View object in RedGPU. It provides real-time testing of the basic options provided to a View object.">
    <meta property="og:image" content="https://redcamel.github.io/RedGPU/examples/3d/view/singleView/thumb.webp">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://redcamel.github.io/RedGPU/examples/3d/view/singleView/">
    <meta property="twitter:title" content="Single View3D">
    <meta property="twitter:description" content="This example is a sample for a View object in RedGPU. It provides real-time testing of the basic options provided to a View object.">
    <meta property="twitter:image" content="https://redcamel.github.io/RedGPU/examples/3d/view/singleView/thumb.webp">

    <!-- Structured Data -->
    <script type="application/ld+json">{
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  "name": "Single View3D",
  "applicationCategory": "DeveloperApplication",
  "operatingSystem": "Web",
  "description": "This example is a sample for a View object in RedGPU. It provides real-time testing of the basic options provided to a View object.",
  "url": "https://redcamel.github.io/RedGPU/examples/3d/view/singleView/",
  "screenshot": "https://redcamel.github.io/RedGPU/examples/3d/view/singleView/thumb.webp",
  "author": {
    "@type": "Person",
    "name": "redcamel"
  }
}</script>

    <!-- Assets Preload -->
    <link rel="preload" href="../../../assets/css/example.css?t=1783324689986" as="style">
    <link rel="modulepreload" href="index.js?t=1783324689986">

    <!-- Assets -->
    <link rel="stylesheet" href="../../../assets/css/example.css?t=1783324689986">
    <script src="index.js?t=1783324689986" type="module"></script>

</head>
<body>
<h1 style="position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); white-space: nowrap; border: 0;">Single View3D</h1>














</body>
</html>
